@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  box-sizing: border-box;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.box {
  @apply max-w-xl w-full mb-4 py-0 px-4;
}

.link {
  @apply rounded bg-gray-900 text-white py-1 px-2 no-underline;
}

.link.gitlab:hover {
  background-color: #f07328;
}

.link.digitalsurgeons:hover {
  background-color: #f72073;
}

.link.qscend:hover {
  background-color: #024ea0;
}
